# PlatformIO
.pio/
.pioenvs/
.piolibdeps/

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Python
__pycache__/
*.py[cod]
*$py.class
*.venv
venv/
env/
esp_env/

# Raw firmware dumps & logs
*.bin
*.log

# Audio recordings
recording_*.wav
*.wav
recordings/
